.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.title {
    font-weight: 600;
    margin: 0;
    font-size: 32px;
}

.subtitle {
    color: #94a3b8;
    margin: 0;
}