<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Настройка целевых объектов -->
    <targets>
        <!-- Запись логов в файл -->
        <target name="file" xsi:type="file"
                fileName="logs/logfile.log"
                layout="${longdate} ${uppercase:${level}} ${message}"
                createDirs="true" />
        <!-- Вывод логов в консоль -->
        <target name="console" xsi:type="console"
                layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>

    <!-- Правила для маршрутизации логов -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Warn" writeTo="file" />
    </rules>
</nlog>