.studentTable {
    width: 100%;
}

/* HEADER */
.header {
    display: grid;
    grid-template-columns: 1fr 80px 140px 100px 1fr 150px 120px;
    padding: 0.5rem 1rem;
    color: #64748b;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* BODY */
.body {
    display: flex;
    flex-direction: column;
    gap: 8px; /* аналог border-spacing */
}

.cellRight {
    text-align: right;
}