.studentTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.studentTable th {
    padding: 0.5rem 1rem;
    text-align: left;
    color: #64748b;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.studentTable th:last-child {
    text-align: right;
}

.studentTable td {
    background: white;
    padding: 1rem;
    border-top: 1px solid #f1f5f9;
    border-bottom: 1px solid #f1f5f9;
}

.studentTable tr td:first-child {
    border-left: 1px solid #f1f5f9;
    border-radius: 12px 0 0 12px;
}

.studentTable tr td:last-child {
    border-right: 1px solid #f1f5f9;
    border-radius: 0 12px 12px 0;
}